sudo: required
dist: trusty
language: cpp
compiler:
  - gcc
before_install:
  - sudo apt install -y libgmp-dev
script:
  - git clone https://github.com/herumi/cybozulib.git
  - git clone https://github.com/herumi/xbyak.git
  - git clone https://github.com/herumi/mcl.git
  - cd mcl
  - make test
 
