li {
	list-style-type : none;
	padding:5px 10px;
	border-top:1px solid black;
	border-left:1px solid black;
}

span {
	max-width: 300px;
	display: inline-block;
	overflow: hidden;
}

div.hex {
	max-width: 400px;
	overflow: hidden;
}

div#ret {
	margin: 25px 5px;
	padding: 5px;
	border-style: solid;
	text-align: center;
}

td {
	text-align: right;
	max-width: 100px;
	overflow: hidden;
}

#header {
	background-color: #ddf;
}

button {
	margin: 5px;
	padding: 5px;
}

div.ret {
	margin: 5px;
	padding: 5px;
	border: 1px solid;
	text-align: center;
}

#left {
	width:45%;
	float:left;
}

#middle {
	width:4%;
	float:left;
	position: center;
	margin: 10px;
	background-color: gray;
	width:2px;
	height:100%;
}

#right {
	width:45%;
	float:left;
}
